.App {
  text-align: center;
}

.app-wrapper {
  min-height: 100vh;
  display: grid;

  grid-template-areas:
    "header header"
    "sidebar content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 220px 1fr;
  grid-gap: 10px;
}

li {
  list-style-type: none;
}
