.App {
  text-align: center;
}

.header {
  grid-area: header;
  text-align: center;
  background-color: green;
}

.header img {
  height: 60px;
}

.content {
  background-color: greenyellow;
  grid-area: content;
}

.sidebar {
  background-color: red;
  grid-area: sidebar;
}

.app-wrapper {
  min-height: 100vh;
  display: grid;

  grid-template-areas:
    "header header"
    "sidebar content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 220px 1fr;
  grid-gap: 10px;
}

li {
  list-style-type: none;
}
